@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
	text-align: center;
	scroll-behavior: smooth;
}

#hero {
	background-image: url(./lib/img/wb_banner.svg);
	background-repeat: no-repeat;
	background-position-y: top;
	background-position: right;
	background-size: cover;
}
